body {
  cursor: var(--cursor-default), auto;
}

a {
  cursor: var(--cursor-pointer), auto;

  &:hover {
    cursor: var(--cursor-pointer), auto;
  }
}

button {
  cursor: var(--cursor-pointer), pointer;
}

input {
  cursor: var(--cursor-text), text;
}

text-red-500 {
  color: #ff0000;
}
