// 覆盖 light Mode
:root {
  // 作者名
  --va-c-text: rgb(0, 0, 0);

  // 滑动顶栏背景
  .yun-nav-menu.play {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
  }

  // 主页背景
  .yun-fullscreen-menu {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
  }

  // 文章框的底色
  .yun-card {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
  }

  //顶栏背景
  .bg-transparent {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
  }

  //主页标题
  .text-white {
    color: rgb(0, 0, 0)
  }

  // 页眉渐变色
  .yun-page-header-gradient {
    background: linear-gradient(to right, rgba(170, 245, 255, 0.2) 0, rgba(173, 243, 255, 0.2) 100%);
    // background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%);
  }

  // 页脚渐变色
  .yun-footer-gradient {
    height: 130px;
    background: linear-gradient(to right, rgba(228, 170, 255, 0.089) 0, rgba(87, 14, 90, 0.048) 100%);
  }

  // 评论框小人物
  .wl-editor {
    background-image: url("https://cdn.jsdelivr.net/gh/anwen-anyi/imgAnwen/images/OuNiJiang.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    transition: all 0.25s ease-in-out 0s;
    filter: invert(0);
  }

  // 首页语录
  .say {
    border-top: var(--va-border-width) solid var(--va-c-text-light);
    border-radius: 5px;
    /* 可选的圆角效果 */
    animation: border-marquee 5s linear infinite;
    /* 设置跑马灯动画 */
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
  }
}
